.about {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 64px;
}

.photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.about-tx {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.about-descript {
    width: 70%;
    line-height: 1.5;
}

.more-btn {
    width: fit-content;
    background-color: $background-color;
    border-radius: $border-radius;
    padding: 16px 48px;
    font-family: $font-heading;
    text-transform: uppercase;
    font-size: $fs-base;
    color: $color-text;
    font-weight: 600;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}