.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 18px 56px;
    position: fixed;
    top: 24px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    backdrop-filter: blur(15px);
    background-color: $background-color;
    border-radius: $border-radius;
    z-index: 1000;
}

a {
    color: $color-muted;
    font-size: $fs-base;
    font-family: $font-body;
}