@import './variables';

body {
  background: $gradient-bg;
  padding: 196px 0 32px 0;
}

h1 {
  font-family: $font-heading;
  font-size: $fs-lg;
  color: $color-heading;
}

h2 {
  font-size: $fs-md;
}

h3 {
  font-size: $fs-md;
  color: $color-text;
  font-family: $font-body;
}

p {
  font-size: $fs-base;
  font-family: $font-body;
  color: $color-heading;
}

a:hover, button:hover {
  cursor: pointer;
  color: $color-heading;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 96px;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: $color-heading;
}

body::-webkit-scrollbar-track {
  background: $background-color;
}