@import './variables';

body {
  background: $gradient-bg;
  padding: 196px 0 32px 0;
}

h1 {
  font-family: $font-heading;
  font-size: $fs-lg;
  color: $color-heading;
}

h2 {
  font-size: $fs-md;
}

h3 {
  font-size: $fs-md;
  color: $color-text;
  font-family: $font-body;
}

p {
  font-size: $fs-base;
  font-family: $font-body;
  color: $color-heading;
}

a {
  transition: color 0.5s ease;
  position: relative;
  width: fit-content;
}

a:hover, button:hover {
  cursor: pointer;
  color: $color-heading;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 1.5px;
  background-color: $color-heading;
  transition: width 0.5s ease;
}

a:hover::after {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 96px;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: $color-heading;
}

body::-webkit-scrollbar-track {
  background: $background-color;
}

section {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  #about, #skills, #projects, #contacts {
    width: 90%;
    align-items: center;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 32px 0;
  }

  h1 {
    font-size: 48px;
  }

  h3 {
    font-size: $fs-nm;
  }

  a::after {
    display: none;
  }
}