@import './variables';

body {
    background: $gradient-bg;
    padding: 148px 0;
}

h1 {
  font-family: $font-heading;
  font-size: $fs-lg;
  color: $color-heading;
}

h2 {
  font-size: $fs-md;
}

h3 {
  font-size: $fs-md;
  color: $color-text;
  font-family: $font-body;
}

p {
  font-size: $fs-base;
  font-family: $font-body;
  color: $color-heading;
}

a:hover, button:hover {
    cursor: pointer;
    color: $color-heading;
}